
@{
    ViewBag.Title = "StudentIndex";
    Layout = "~/Views/Shared/Student_Layout.cshtml";
}
<span id="left">
    <select>
        <option>Skilaverkefni 1</option>
        <option>Skilaverkefni 2</option>
        <option>Skilaverkefni 3</option>
    </select>
    <br />
    <label>Group members</label>
    <br />
    <select>
        <option>Hafdís Inga</option>
        <option>Sandra Ösp</option>
    </select>
    <br />
    <select>
        <option>Matthildur Alice</option>
        <option>Auður Björk</option>
    </select>
</span>
<br />

<span id="middle">
    <select>
        <option>BinaryList  v1</option>
        <option>BinaryTree  v2</option>
    </select>

    <form id="chooseFileBtn" action="demo_form.asp">
        <input type="file" name="pic" accept="image/*">
    </form>

</span>

<span id="right">
    <button>Submit</button>
</span>
 <br />
  
<div>
    <table class="table">
        <thead>
            <th>Download</th>
            <th>User</th>
            <th>Problem</th>
            <th>Result</th>
        </thead>

        <tbody>
            <tr>
                <td>BinaryList.zip</td>
                <td>hafdisa15</td>
                <td>v1</td>
                <td>accepted</td>
            </tr> 
            <tr>
                <td>BinaryList.zip</td>
                <td>matthildur15</td>
                <td>v1</td>
                <td>wrong accepted</td>
            </tr>     
        </tbody>
    </table>

</div>