
@{
    ViewBag.Title = "StudentAnswerView";
}

<p>Comparing outputs</p>


    <table class="table">
        <thead>
            <th>Obtained output</th>
            <th>Expected output</th>
        </thead>
        <tbody>
            <tr>
                <td>5</td>
                <td>5</td>
            </tr>
            <tr>
                <td>1 7 9 11 13</td>
                <td>5 7 9 11 13</td>
            </tr>
        </tbody>
    </table>