body 
{
    padding-top: 40px;
    padding-bottom: 20px;
    background-color:#C3C3E5;
    margin-top: -40px;
    font-family: Verdana;
}

/* Set padding to keep content from hitting the edges */
.body-content 
{
    padding-left: 15px;
    padding-right: 15px;
    font-family: Verdana;
    color: black;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt 
{
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input, select, textarea
{
    font-family: Verdana;
    max-width: 280px;
}

div.page-header
{
    background:url(Images/mooshakBanner.jpg) no-repeat;
    background-color: #443266;
    display: block;
    width: 100%;
}

.page-header
{
    padding-bottom: 150px;
    margin: 0px 0px;
    border-bottom: 1px solid #eeeeee;
}

.table-scroll .table-bordered
{
    background-color:white;
}

button
{
    background-color:#443266;
    border:none;
    color:white;
    width: 120px;
    height:40px;
    text-align:center;
    text-decoration:none;
    display: inline-block;
    font-size: 16px;
    border-radius:8px;
    font-family: Verdana;
}

#left
{
    float: left;
}

#right
{
    float: right;
}

div.table-scroll
{
  display:block;  
  height: 500px;
  overflow-y: scroll;
  font-family: Verdana;
}

.btn-primary
{
    background-color: #443266;
}

input.form-control
{
    margin:0px auto;
}

div.text-center h2
{
    margin-top: 50px;
    padding-top: 50px;
    font-family: Verdana;

}

#ccourse .form-group 
{
    margin-bottom: 100px;
    padding-bottom: 100px;
}

.glyphicon, .panel-title
{
    color: black;
}
.form-horizontal
{
    margin:0px auto;
}
table.createUser{
    margin: 0 auto;
    font-family: Verdana;
    text-align: center;
    
}
 .group .col-md-6 table.table-scroll{
    display:block;  
   height: 800px;
   overflow-y: scroll;
}
 label.checkbox-inline
 {
     text-align: center;
 }

 table.table{
     background-color: white;
 }

 div.overwriteLink{
     padding-top:14px;
     color:#777;
 }
 div.overwriteLink a{
     color:#777;
     cursor:pointer;
 }
  div.overwriteLink a span.caret{
    border-top-color: #777;
    border-bottom-color: #777;
  }
  div.overwriteLink a:hover{
      color:#777;
      text-decoration: none;
  }

  .display-inline{
      display:inline;
  }

  .project-pencil{
      font-size:20px;
      padding-top:6px;
  }
  .margin-top-10{
      margin-top:10px;
  }