
@{
    ViewBag.Title = "CreateNewProject";
}

<h2>CreateNewProject</h2>

<form action="action_page.php">
    <div>
        Name of course:
        <input type="text" name="projectName"><br><br>
    </div>
    <div>
        Number of parts in project
        <select>
            <option value="sub1">1</option>
            <option value="sub2">2</option>
            <option value="sub3">3</option>
            <option value="sub4">4</option>
            <option value="sub5">5</option>
            <option value="sub6">6</option>
            <option value="sub7">7</option>
            <option value="sub8">8</option>
            <option value="sub9">9</option>
            <option value="sub10">10</option>
        </select><br><br>
    </div>
</form>
<fieldset>

    <legend>Part 1</legend>
    Name:
    <input type="text" name="projectName"><br>
    Percentage:

    <form action="action_page.php">
        (between 1 and 100):
        <input type="number" name="quantity" min="1" max="100">
        %
    </form>
    <form action="demo_form.asp">
        <input type="file" name="pic" accept="image/*">
    </form>
</fieldset>
<input type="submit" value="Create project">