@model Mooshak2.Models.ProjectViewModels

@{
    ViewBag.Title = "CreateNewProject";
}

<h2>Create New Project</h2>

<form class="form-horizontal" action='' method="POST">
    <div>
        Name of project:
        @Html.EditorFor(model => model.projectName)
    </div>
    <div>
        Select course: 
        @Html.DropDownListFor(m => m.courseID, new SelectList(ViewBag.courses, "courseID", "courseName"))

    </div>
    <input type="submit" value="Create project">
</form>
    <!--div>
        Number of parts in project
        <select>
            <option value="sub1">1</option>
            <option value="sub2">2</option>
            <option value="sub3">3</option>
            <option value="sub4">4</option>
            <option value="sub5">5</option>
            <option value="sub6">6</option>
            <option value="sub7">7</option>
            <option value="sub8">8</option>
            <option value="sub9">9</option>
            <option value="sub10">10</option>
        </select><br><br>
    </div-->

<!--fieldset>
    <legend>Part 1</legend>
    Name:
    <input type="text" name="projectName"><br>
    Percentage:

    <form action="action_page.php">
        (between 1 and 100):
        <input type="number" name="quantity" min="1" max="100">
        %
    </form>
    <form action="demo_form.asp">
        <input type="file" name="pic" accept="image/*">
    </form>
    <input type="submit" value="Create project">
</fieldset-->
