@model Mooshak2.Models.ProjectViewModels

@{
    ViewBag.Title = "CreateNewProject";
    Layout = "~/Views/Shared/Teacher_Layout.cshtml";
}

<h2>Create New Project</h2>

<form class="form-horizontal" action='' method="POST">
    <div>
        Name of project:
        @Html.EditorFor(model => model.projectName)
    </div>
    <div>
        Select course: 
        @Html.DropDownListFor(m => m.courseID, new SelectList(ViewBag.courses, "courseID", "courseName"))

    </div>
    <div>
        Open: 
        @Html.EditorFor(model => model.openDate, new { id = "openDate"})
    </div>
    <div>
        Close:
        @Html.EditorFor(model => model.closeDate, new { id = "closeDate" })
    </div>
    <input type="submit" value="Create project">
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $('#openDate').datepicker({
            dateFormat: "dd.mm.yy"
        });
        $('#closeDate').datepicker({
            dateFormat: "dd.mm.yy"
        });
    });
</script>