@model Mooshak2.Models.SubProjectsViewModels
@{
    ViewBag.Title = "DeleteSubProject";
    Layout = "~/Views/Shared/Teacher_Layout.cshtml";
}

<h2>Delete Subproject</h2>

<div class="text-center">
    <h2>Delete Subproject</h2>
</div><br />

<div id="ccourse">
    <form class="form-group text-center" action='' method="POST">
        <div class="text-center">
            <p>are you sure you want to delete <b>@Model.subProjectName</b>?</p>
        </div>
        <br><br>
        <input type="submit" class="btn btn-primary" value="Delete Subproject">
    </form>
</div>