@model Mooshak2.Models.ProjectViewModels
@{
    ViewBag.Title = "EditProject";
    Layout = "~/Views/Shared/Teacher_Layout.cshtml";
}
<div class="text-center">
    <h2>Edit project</h2>
</div><br />
<div id="ccourse">
<form class="form-group" action='' method="POST">
    <table class="createUser" cellpadding="10">
        <tr>
            <td>Name of project:</td>
            <td><input class="form-control" @Html.EditorFor(model => model.projectName)</td>
        </tr>
        <tr>
            <td>Open:</td>
            <td><input class="form-control" @Html.EditorFor(model => model.openDate, new { id = "openDate" })</td>
        </tr>
        <tr>
            <td>Close:</td>
            <td><input class="form-control" @Html.EditorFor(model => model.closeDate, new { id = "closeDate" })</td>
        </tr>
        <tr>
            <td>Member count:</td>
            <td><input class="form-control" @Html.EditorFor(model => model.memberCount)</td>

        </tr>
    </table><br />
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Submit changes">
    </div>

 

<script type="text/javascript">
    $(document).ready(function () {
        $('#openDate').datepicker({
            dateFormat: "dd.mm.yy"
        });
        $('#closeDate').datepicker({
            dateFormat: "dd.mm.yy"
        });
    });
</script>
