@model Mooshak2.Models.ProjectViewModels
@{
    ViewBag.Title = "EditProject";
    Layout = "~/Views/Shared/Teacher_Layout.cshtml";
}

<h2>Edit Project</h2>
<form class="form-horizontal" action='' method="POST">
    <div>
        Name of project:
        @Html.EditorFor(model => model.projectName)
    </div>
    <div>
        Open:
        @Html.EditorFor(model => model.openDate, new { id = "openDate" })
    </div>
    <div>
        Close:
        @Html.EditorFor(model => model.closeDate, new { id = "closeDate" })
    </div>

    <input type="submit" value="Submit changes">

    <div>
        Member count:
        @Html.EditorFor(model => model.memberCount)
                
    </div>
    <input type="submit" value="Edit project">
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $('#openDate').datepicker({
            dateFormat: "dd.mm.yy"
        });
        $('#closeDate').datepicker({
            dateFormat: "dd.mm.yy"
        });
    });
</script>