
@{
    ViewBag.Title = "CreateNewUser";
}

<h2>Create New User</h2>

<form class="form-horizontal" action='' method="POST">
    <fieldset>
        <label class="checkbox-inline"><input type="checkbox" value="">Admin</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Teacher</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Student</label>
                    <div class="control-group">
                        <!-- Firstname -->
                        <label class="control-label" for="username">First name</label>
                        <div class="controls">
                            <input type="text" id="firstName" name="firstName" placeholder="" class="input-xlarge">
                            <p class="help-block">Username can contain any letters or numbers, without spaces</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <!-- Lastname -->
                        <label class="control-label" for="lastName">Last name</label>
                        <div class="controls">
                            <input type="text" id="lastName" name="lastName" placeholder="" class="input-xlarge">
                            <p class="help-block">Username can contain any letters or numbers, without spaces</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <!-- Username -->
                        <label class="control-label" for="username">Username</label>
                        <div class="controls">
                            <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
                            <p class="help-block">Username can contain any letters or numbers, without spaces</p>
                        </div>
                    </div>


                    <div class="control-group">
                        <!-- Password-->
                        <label class="control-label" for="password">Password</label>
                        <div class="controls">
                            <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
                            <p class="help-block">Password should be at least 4 characters</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <!-- Password -->
                        <label class="control-label" for="password_confirm">Password (Confirm)</label>
                        <div class="controls">
                            <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge">
                            <p class="help-block">Please confirm password</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <!-- Button -->
                        <div class="controls">
                            <button class="btn btn-success">Create user</button>
                        </div>
                    </div>
</fieldset>
</form>