@model Mooshak2.Models.UsersViewModels
@{
    ViewBag.Title = "CreateNewUser";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>Create New User</h2>

<form class="form-horizontal" action='' method="POST">
    <fieldset>
        <!--label class="checkbox-inline"><input type="checkbox" name="isAdmin" value="">Admin</!--label>
        <label class="checkbox-inline"><input type="checkbox" name="isTeacher" value="">Teacher</label>
        <label class="checkbox-inline"><input type="checkbox" name="isStudent" value="">Student</label-->
        <div>
            <label class="checkbox-inline">
                <!--input type="checkbox" name="isAdmin" value=""-->
                @Html.CheckBoxFor(model => model.isAdmin)
                Admin
            </label>
            <label class="checkbox-inline">
                <!--input type="checkbox" name="isTeacher" value=""-->
                @Html.CheckBoxFor(model => model.isTeacher)
                Teacher
            </label>
            <label class="checkbox-inline">
                <!--input type="checkbox" name="isStudent" value=""-->
                @Html.CheckBoxFor(model => model.isStudent)
                Student
            </label>
        </div>
        <table>
            <tr>
                <td><label class="control-label" for="firstName">First name</label></td>
                <td><input type="text" id="firstName" name="firstName" placeholder="" class="input-xlarge"></td>
            </tr>
            <tr>
                <td><label class="control-label" for="lastName">Last name</label></td>
                <td><input type="text" id="lastName" name="lastName" placeholder="" class="input-xlarge"></td>
            </tr>
            <tr>
                <td><label class="control-label" for="username">Username</label></td>
                <td><input type="text" id="username" name="username" placeholder="" class="input-xlarge"></td>
            
            </tr>
            <tr>
                <td><label class="control-label" for="email">Email</label></td>
                <td><input type="text" id="email" name="email" placeholder="" class="input-xlarge"></td>
            </tr>
            <tr>
                <td><label class="control-label" for="password">Password</label></td>
                <td><input type="password" id="password" name="password" placeholder="" class="input-xlarge"></td>
            </tr>
            <tr>
                <td><label class="control-label" for="password_confirm">Password (Confirm)</label></td>
                <td><input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge"></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
           
        <!--    <div class="control-group text-center">
                
                <label class="control-label" for="lastName">Last name</label>
                    <input type="text" id="lastName" name="lastName" placeholder="" class="input-xlarge">
            </div>
            <div class="control-group text-center">
                
                <label class="control-label" for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
                    <p class="help-block">Username can contain any letters or numbers, without spaces</p>
            </div> 
            <div class="control-group text-center">
              
                <label class="control-label" for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
            </div> 


            <div class="control-group text-center">
                Password
                <label class="control-label" for="password">Password</label>
                    <input type="password"  id="password" name="password" placeholder="" class="input-xlarge">
                    <p class="help-block">Password should be at least 4 characters</p>
            </div>

            <div class="control-group text-center">
              
                <label class="control-label" for="password_confirm">Password (Confirm)</label>
                    <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge">
                    <p class="help-block">Please confirm password</p>
            </div> -->

            <div class="control-group text-center">
                <!-- Button -->
                <div class="controls">
                    <input type="submit" value="Create user">
                </div>
            </div>

</fieldset>
</form>