@model Mooshak2.Models.CoursesViewModels
@{
    ViewBag.Title = "CreateNewCourse";
}

<h2>Create new course</h2>

<form class="form-horizontal" action='' method="POST">
    Name of course:<br>
    <input type="text" id="courseName" name="courseName"><br><br>
    <input type="submit" value="Create course">
</form>