@model Mooshak2.Models.CoursesViewModels
@{
    ViewBag.Title = "CreateNewCourse";
}
<div class="text-center">
<h2>Create new course</h2>
</div><br />

<div id="createcourse">
<form class="form-group text-center" action='' method="POST">
    <label for="text">Name of course: </label> <br>
        <input type="text" class="form-control" id="courseName" name="courseName"><br><br>
    <input type="submit" class="btn btn-primary" value="Create course">
</form>
</div>