
@{
    ViewBag.Title = "CreateNewCourse";
}

<h2>Create new course</h2>

<form action="action_page.php">
    Name of course:<br>
    <input type="text" name="courseName"><br><br>
    <input type="submit" value="Create course">
</form>